<footer class="footer add-top-border">
    <div class="container">
        <p class="float-left footer-text">&copy; Steffen Tourbier 2024</p>
        <p class="float-right footer-text">Powered by <a href="https://rocket.rs/">Rocket 🚀</a> | <a href="https://github.com/AlsoSteffen/rusty-spider">Github</a> </p>
    </div>
</footer>