<footer class="footer">
    <div class="container">
        <p class="float-left footer-text">&copy; Steffen Tourbier 2024</p>
        <p class="float-right footer-text">Powered by <a href="https://rocket.rs/">Rocket 🚀</a> | <a href="#">Github</a> </p>
    </div>
</footer>