<header class="navigation add-bottom-border">
    <section class="container">
        <a href="/" class="float-left center-vertical">
            <div class="float-left navigation-logo-img-box">
                <img src="/static/img/steff/steff_logo.svg" class="center-vertical" alt=""/>
            </div>
            <h1 class="navigation-text navigation-logo-text center-vertical">S. Tourbier</h1>
        </a>
        <div class="float-right navigation-links-box">
            <a href="#portfolio" class="navigation-text navigation-link center-vertical">Portfolio</a>
            <span class="navigation-text no-select selector">│</span>
            <a href="#about" class="navigation-text navigation-link center-vertical">About</a>
        </div>
    </section>
</header>
