{% block head %}
    <link rel="stylesheet" href="/static/css/pages/portfolio.css"/>
{% endblock head %}

<section id="e-knip">
    <div id="e-knip-title">
        <div class="container index-section e-knip-logo-box">
            <img class="e-knip-logo center-vertical no-select" src="/static/img/logo/eknip_logo.png"
                 alt="Image of the EnergieKnip logo." draggable="false"/>
        </div>
    </div>
    <div class="container index-section">
        <h3 class="text-eknip">The Project</h3>
        <p class="text-white">
            In collaboration with the municipality of Emmen (NL),
            this project was conducted to analyse and
            promote the use of energy-saving electronics.
        </p>

        <h3 class="text-eknip">My Role</h3>
        <p class="text-white">
            I worked as the primary software developer for this project,
            responsible for developing the main mobile application, designing
            certain architectural features, developing supporting systems,
            and also testing, deploying, and monitoring the application
            during the project duration.
        </p>

        <h3 class="text-eknip">Tech Stack</h3>
        <i class="devicon-typescript-original colored tech-icon"></i>
        <i class="devicon-javascript-plain colored tech-icon"></i>
        <i class="devicon-dot-net-plain colored tech-icon"></i>
        <i class="devicon-nodejs-plain colored tech-icon"></i>
        <i class="devicon-react-plain colored tech-icon"></i>
        <i class="devicon-docker-plain colored tech-icon"></i>
        <i class="devicon-ubuntu-plain colored tech-icon"></i>

        <h3 class="text-eknip">Impact and Achievements</h3>

        <ul class="no-bullets">
            <li><a class="link-eknip" href="https://energieknip.nl/">EnergieKnip</a></li>
            <li><a class="link-eknip"
                   href="https://blog.iota.org/using-data-to-cut-energy-use-while-boosting-local-economies/">Incentivizing Energy Savings with EnergieKnip and IOTA</a></li>
            <li><a class="link-eknip" href="https://www.smart-energy.com/industry-sectors/digitalisation/energieknip-demonstrates-incentivised-energy-savings-on-blockchain//">‘EnergieKnip’ demonstrates incentivised energy savings on blockchain</a></li>
        </ul>
    </div>
</section>

<section id="od-security">
    <i class="devicon-pytorch-plain colored tech-icon"></i>
    <i class="devicon-tensorflow-original colored tech-icon"></i>
    <i class="devicon-opencv-plain colored tech-icon"></i>
    <i class="devicon-numpy-plain colored tech-icon"></i>
    <i class="devicon-pandas-plain colored tech-icon"></i>
    <i class="devicon-python-plain colored tech-icon"></i>
    <i class="devicon-ubuntu-plain colored tech-icon"></i>
    <i class="devicon-anaconda-plain colored tech-icon"></i>

</section>

<section id="bike-helmet">
    <i class="devicon-pytorch-plain colored tech-icon"></i>
    <i class="devicon-tensorflow-original colored tech-icon"></i>
    <i class="devicon-opencv-plain colored tech-icon"></i>
    <i class="devicon-numpy-plain colored tech-icon"></i>
    <i class="devicon-pandas-plain colored tech-icon"></i>
    <i class="devicon-python-plain colored tech-icon"></i>
    <i class="devicon-ubuntu-plain colored tech-icon"></i>
    <i class="devicon-anaconda-plain colored tech-icon"></i>

</section>