{% extends "layouts/base" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/introduction.css"/>
    <link rel="stylesheet" href="/static/css/pages/introduction-animation.css"/>
{% endblock head %}

{% block title_page %}Home{% endblock title_page %}

{% block content %}
    <section id="introduction" class="add-bottom-border">
        <div class="container">
            <div class="introduction-box">
                {% include "partials/introduction-animation" %}
                <div class="introduction-text-box">
                    <h1 class="introduction-text introduction-header">Why hello there</h1>
                    <hr>
                    <p class="introduction-text">Welcome to my little website 😊</p>
                    <p class="introduction-text">Here you'll see some of the projects I've worked on, the technologies
                        included in my skill-set, and some other stuff about me.</p>
                    <p class="introduction-text">I hope you enjoy your stay, feel free to explore!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container index-section">
            <h1 class="text-center">Portfolio</h1>

            <div class="text-center">
                <a href="/static/doc/cv_steff.pdf" download="cv_steff.pdf">
                    <button>Download Curriculum Vitae</button>
                </a>
                <a href="/static/doc/letter_steff.pdf" download="letter_steff.pdf">
                    <button>Download Cover Letter</button>
                </a>
            </div>

            <p class="text-center">Work in progress! 🚧🏗️</p>
        </div>
        {% include "pages/index.portfolio" %}
    </section>

    <section id="about">
        <div class="bg-trexi">
            <div class="container index-section about-section text-white">
                <h1 class="text-center">About Me</h1>
                <p class="text-center">Work in progress! 🚧🏗️</p>
            </div>
            {% include "pages/index.about" %}
        </div>
    </section>
{% endblock content %}