ul.no-bullets {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    list-style-type: -moz-kannada;
    color: white;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: white;
}

.center-vertical {
    display: inline-block;
    vertical-align: middle;
}

.add-bottom-border {
    border-bottom: 1px solid rgb(115, 60, 0);
}

.add-top-border {
    border-top: 1px solid rgb(115, 60, 0);
}

.tech-icon {
    font-size: 5rem;
}