.navigation {
    background-color: rgba(20, 100, 30, 0.4);
    height: 6.3rem;
    line-height: 6.3rem;
    border-bottom: 1px solid rgba(140, 90, 30, 0.95);
}

.navigation-logo-box {
    align-self: center;
    vertical-align: middle;
}


.navigation-logo-text {
    color: rgba(80, 50, 15, 0.95);
    font-size: 3.4rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.navigation-logo {
    height: 5.5rem;
    display: inline-block;
    vertical-align: middle;
}

.navigation-buttons {

}