.navigation {
    background-color: rgba(20, 100, 30, 0.4);
    height: 5.3rem;
    line-height: 5rem;
    border-bottom: 1px solid rgb(115, 60, 0);
}

.navigation-logo-box {
    align-self: center;
    vertical-align: middle;
}


.navigation-text {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    color: rgba(70, 35, 0);
}

.navigation-logo-text {
}

.navigation-logo {
    height: 4.2rem;
    display: inline-block;
    vertical-align: middle;
}

.navigation-links-box {

}

.navigation-link {
}