#introduction {
    background-color: rgba(140, 80, 30, 0.2);
}

.introduction-box {
    padding: 3.24rem 0;
}

.introduction-img {
    width: 36%;
    height: 36%;
    display: block;
    margin: 0 auto;
}

.introduction-text-box {
    opacity: 0;
    animation: fade-in 500ms;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.introduction-text {
    text-align: center;
    margin-top: 1.9rem;
}

.introduction-header {
    font-size: 4rem;
    font-kerning: inherit;
}

.index-section {
    border-left: 1px solid rgb(115, 60, 0);
    padding: 3.5rem 2rem;
}

@media screen and (max-width: 890px) {
    .introduction-img {
        width: 50%;
        height: 50%;
    }
}