.tech-icon {
    font-size: 5rem;
}

#e-knip-title {
    background-color: rgba(144, 27, 129, 0.9);
}

#e-knip {
    background-color: rgba(111, 48, 123, 0.9);
}

.e-knip-logo {
    width: 25rem;
}

.e-knip-logo-box {
}

.text-eknip {
    color: #f9b233;
}

@media screen and (max-width: 1025px) {
    .e-knip-logo {
        width: 33%;
    }

    .e-knip-logo-box {
        text-align: center;
    }
}
