.section-logo {
    height: 6rem;
}

.section-logo-box {
}


@media screen and (max-width: 1025px) {
    .section-logo {
        width: 33%;
    }

    .section-logo-box {
        text-align: center;
    }
}

#e-knip-title {
    background-color: rgba(144, 27, 129, 0.9);
}

#e-knip {
    background-color: rgba(111, 48, 123, 0.9);
}

.text-eknip {
    color: rgb(249, 178, 51);
}

.link-eknip {
    text-decoration: none;
    color: rgb(249, 178, 51);
    list-style-type: "test";
}

#nhlstenden-title {
    background-color: rgba(1, 155, 167, 0.9);
}

#nhlstenden {
    background-color: rgba(14, 89, 161, 0.9);
}

